.hero {
  display: flex;
  align-items: center;
  gap: 56px;

  &__title {
    font-family: 'Baloo 2';
    font-size: 48px;
    line-height: 62.4px;
    font-weight: 800;
    margin: 0;
  }

  &__subtitle {
    font-size: 20px;
    line-height: 26px;
    color: #403937;
    font-weight: 400;
  }

  &__intro {
    max-width: 588px;
    margin-block: 60px;
  }

  &__list {
    color: #574F4D;
    padding: 0;
    margin-top: 60px;
    column-count: 2;
  }

  &__item {
    display: flex;
    gap: 8px;
    align-items: center;

    svg {
      padding: 8px;
      position: relative;
      border-radius: 100%;
    }

    &:nth-child(1) svg {
      background-color: #C47F17;
    }
    &:nth-child(2) { 
      margin-top: 15px;
      svg {
        background-color: #DBAC2C;
      }
    }
    &:nth-child(3) svg {
      background-color: #574F4D;
      margin-left: -25px;
    }
    &:nth-child(4) {
      margin-top: 15px;
      svg {
        background-color: #8047F8;
        margin-left: -25px;
      }
    }
  }
}
