.checkout {
  display:  flex;
  gap: 32px;

  &__left {
    max-width: 640px;
  }

  &__right {
    max-width: 448px;

  }

  &__complet,
  &__payment {
    background-color: #F3F2F2;
    padding: 40px;
    border-radius: 6px;

    + div {
      margin-top: 12px;
    }
  }

  &__intro {
    display: flex;
    gap: 8px;
    margin-bottom: 32px;
  }

  &__options {
    display: flex;
    gap: 12px;
  }

  &__option {
    background-color: #E6E5E5;
    border-radius: 6px;
    border: 1px solid transparent;
    color: #574F4D;
    cursor: pointer;
    flex: 1;
    font-size: 12px;
    line-height: 19.2px;
    padding: 16px;
    text-transform: uppercase;


    &:hover,
    &.active {
      background-color: #EBE5F9;
      border: 1px solid #8047F8;
    }
  }
}
