.header {
  background-color: #FFF;
  padding-block: 32px;
  position: relative;
  z-index: 101010;

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: topDown 0.4s ease-in-out;
  }

  &__container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    max-width: 1120px;
    margin-inline: auto;
  }

  &__options {
    display: flex;
    gap: 12px;
  }

  &__location {
    background-color: #EBE5F9;
    border-radius: 6px;
    color: #4B2995;
    font-size: 14px;
    line-height: 18.2px;
    padding: 8px;
    display: flex;
    align-items: center;
  }
  
  &__btn-cart {
    aspect-ratio: 1;
    background-color: #F1E9C9;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 11px;
    display: flex;
    position: relative;
  }

  &__btn-span {
    align-items: center;
    aspect-ratio: 1;
    background-color: #C47F17;
    border-radius: 50%;
    box-sizing: border-box;
    color: #FFF;
    display: flex;
    font-size: 12px;
    font-weight: 700;
    line-height: 0;
    padding: 4px;
    position: absolute;
    top: -10px;
    right: -10px;
    justify-content: center;
    width: 20px;
  }
}

@keyframes topDown {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}
